DATABASE=mysql
PORT=8000

DATABASE_URL="mysql://username:password@localhost:3306/belajar_nestjs_dasar"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="belajar_nestjs_dasar"
DATABASE_HOST="localhost"
DATABASE_PORT=3306